<h1>Create a new product</h1>

<%= form_for [@user, @product] do |f| %>
<div>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>
</div>

<div>
  <%= f.label(:description) %>
  <%= f.text_area(:description) %>
</div>

<div>
  <%= f.label(:min_bid) %>
  <%= f.text_field(:min_bid) %>
</div>

<div>
  <%= f.label(:deadline) %>
  <%= f.date_field(:deadline) %>
</div>

  <%= f.submit('Create')  %>
<% end %>
